.gradle
.idea
.intellijPlatform
.qodana
build
/src/main/resources/client_secret_133280984050-657tfstbbfskvrihs3umtt1ed82d9ubv.apps.googleusercontent.com.json
/src/main/resources/client_secret_133280984050-657tfstbbfskvrihs3umtt1ed82d9ubv.apps.googleusercontent.com.json
